a {
  text-decoration: none;
}

.card {
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-200);
  border-radius: 1rem;
  margin-bottom: 8rem;
  text-align: center;
  position: relative;
  background: #2c2c2c;
  color: rgb(214, 218, 221);

  img {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    top: 0;
    transform: translate(0%, -30%);
    border: 1px solid var(--gray-200);
    background: var(--white);
  }

  .card_content {
    transform: translate(0%, -30%);

    hr {
      height: 1px;
      background-color: #ccc;
      border: none;
    }
  }
}

.card:hover {
  border: 1px solid rgb(36, 150, 243);
  box-shadow: 2px 2px 8px 8px rgba(32, 109, 172, 0.39);
}

.post-card-image {
}
